*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  text-decoration: none;
}
#root{
  height: 100vh;
  width: 100vw;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
  width: 100vw;
  background-color: #111a22;
}
.logo{
  width: 80px;
  border-radius: 50%;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10rem;
  border-bottom: 1px solid #303b45;
}
.nav-btn a{
  font-size: 1rem;
    color: white !important;
}
.nav-btn{
  position: relative;
  top: -10px;
  font-size: 1rem;
    color: white !important;
    background-color: transparent;
    display: flex;
    gap: 5rem;
}
.chat-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 15rem;
  width: 80vw;
  max-width: 80vw;
  height: 70vh;
  background-color:#111a22;
  overflow-y: auto;
  scrollbar-width: none !important;
}
.chat-header{
  width: 100%;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 30px 24rem 0;
  align-self: flex-start;
  color: white !important;;
}
.message {
  font-size: 1rem;
  line-height: 1.7;
  padding: 10px 35px;
  max-width: 70%;
  border-radius: 0.65rem;
  word-wrap: break-word;
  display: inline-block;
  transform: translateY(10px);
  transition: transform 2s ease-out;
}

.user-message {
  background-color: #1980e6;
  color: white;
  font-weight: 400;
  padding: 0.5rem 1rem;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.bot-message {
  background-color: #243647;
  color: #ffffff;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}


/* chat-footer */
.chat-footer{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  width:50vw;
  background-color: #111a22;
}
.chat-input{
  width: 100%;
  padding: 12px;
  border-radius: 0.65rem;
  border: none;
  outline: none;
}
.send-button{
  background-color: #1980e6;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 0.65rem;
}